streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
huggingface-hub
python-dotenv
yt-dlp
pydub
groq
openai-whisper
